.Nav {
    position: sticky;
    top: 0;
    z-index: 200;
    background-color: #000;
    margin: -10px 0 0 0;
}
#Site-title {
    text-decoration: none;
    text-emphasis: none;
    color: rgb(23, 199, 0);
    float: left;
}
a{
    text-decoration: none;
    color: rgb(23, 199, 0);
}
.Site-Navigation {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    a {
        padding: 0 15px;
    }
    
}