.Quote {
    border: 1px solid #000;
    border-radius: 20px;
    color: #ddd;
    position: fixed;
    bottom: 5px;
    background: linear-gradient(90deg, blue, purple);
    padding: 5px;

}
#All-quotes-links {
    display: grid;
    grid-template-columns: repeat(3, 33.33%);
}