$completed: #17c700;
.Tasks-task {
    display: grid;
    grid-template-columns: 26px auto 26px;
    border-radius: 5px;
    margin: 5px 0;
    p {
        margin: 0;
        padding: 3px;
    }
}
.completed {
    background-color: $completed;
    color: #fff;
    text-decoration: line-through;
}
.Task-btn-con {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.Task-delete-btn {
    float: right;
    height: 25px;
    width: 25px;
    border-radius: 5px;
    border: 1px solid #fdfdfd;
    margin: 1px;
}
.Task-complete-btn {
    width: 25px;
    height: 25px;
    border-radius: 3px;
    border: 2px solid #000;
    float: left;
    background: #fff;
}
// .Task-complete-btn-incomplete {
//     background: #fff;
// }
// .Task-complete-btn-complete {
// background: $completed;
// }
.Checkmark {
    height: 25px;
    width: 3px;
    background-color: #000;
    transform: rotate(45deg);
    position: relative;
    right: 8px;
    border-radius: 3px;
}
.Checkmark-2 {
    height: 15px;
    width: 3px;
    background-color: #000;
    transform: rotate(90deg);
    position: relative;
    right: 6px;
    top: 16px;
    border-radius: 3px;
}
.Task-add-task-form {
    display: grid;
    grid-template-columns: 20% 80%;
    @media only screen and (max-width: 500px){
        grid-template-columns: 100%;
      } 
}
